[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "public"]
	path = public
	url = https://github.com/gubyoung/gubyoung.github.io.git
	branch = main
